<%= link_to 'Sign out', destroy_user_session_path,
    method: :delete %>
<h1> Here are all the recent homework: </h1>
<% @homeworks.each do |homework| %>
  <%= homework.user.email %>
  <%= image_tag homework.hw.url(:medium) %>
  <%= homework.caption %>
  <%# <% if user_signed_in? %>
  <!-- <td><%= link_to 'Edit', edit_homework_path(homework) %></td> %> -->
  <% end %>
